/* Commion
  d64862 -pink
*/

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir'), url('../fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir'), url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir'), url('../fonts/AvenirNextLTPro-BoldIt.otf') format('opentype');
}

body {
  font-family: 'Avenir', serif;
}

body a, * { color: #2e2e2e; font-size: 16px }
 * { transition: all ease-in-out .2s }

h1, h2, h3, h4, h5, h6 { font-weight: 700; letter-spacing: 1px; font-family: 'Avenir Bold', serif; }
h1, h2, h3 { text-transform: uppercase }

main { margin-top: 78px }
main.fixed { margin-top: 58px }
section { padding-top: 4em }

.pdf-link { font-size: 28px; }
.pdf-link:hover i { color: blue }

.view-more .content { height: 200px; overflow: hidden }
.view-more .more { text-decoration: underline }

.title-h2 { background-color: #fff; letter-spacing: 2px }
.heading-2 { text-align: center; position: relative; margin-bottom: 2em }
.heading-2 .title-h2 { position: relative; z-index: 1; display: inline-block; margin: 0; padding: 0 20px }
.heading-2:before, .heading-2:after {position: absolute; top: 10px; width: 50%; height: 10px; content: '' }
.heading-2:before { left: 0; background-color: #d51e4a }
.heading-2:after { right: 0; background-color: #0d5681 }

.heading-3 { position: relative;  margin-bottom: 35px; padding: 15px; text-align: center }
.heading-3 * { color: #fff; margin: 0 }
.heading-3.red {
  background: rgba(213,30,73,1);
  background: -moz-linear-gradient(left, rgba(213,30,73,1) 0%, rgba(218,68,68,1) 51%, rgba(213,30,73,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(213,30,73,1)), color-stop(51%, rgba(218,68,68,1)), color-stop(100%, rgba(213,30,73,1)));
  background: -webkit-linear-gradient(left, rgba(213,30,73,1) 0%, rgba(218,68,68,1) 51%, rgba(213,30,73,1) 100%);
  background: -o-linear-gradient(left, rgba(213,30,73,1) 0%, rgba(218,68,68,1) 51%, rgba(213,30,73,1) 100%);
  background: -ms-linear-gradient(left, rgba(213,30,73,1) 0%, rgba(218,68,68,1) 51%, rgba(213,30,73,1) 100%);
  background: linear-gradient(to right, rgba(213,30,73,1) 0%, rgba(218,68,68,1) 51%, rgba(213,30,73,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d51e49', endColorstr='#d51e49', GradientType=1 );
}
.heading-3.blue {
  background: rgba(95,195,225,1);
  background: -moz-linear-gradient(left, rgba(95,195,225,1) 0%, rgba(42,93,155,1) 51%, rgba(95,195,225,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(95,195,225,1)), color-stop(51%, rgba(42,93,155,1)), color-stop(100%, rgba(95,195,225,1)));
  background: -webkit-linear-gradient(left, rgba(95,195,225,1) 0%, rgba(42,93,155,1) 51%, rgba(95,195,225,1) 100%);
  background: -o-linear-gradient(left, rgba(95,195,225,1) 0%, rgba(42,93,155,1) 51%, rgba(95,195,225,1) 100%);
  background: -ms-linear-gradient(left, rgba(95,195,225,1) 0%, rgba(42,93,155,1) 51%, rgba(95,195,225,1) 100%);
  background: linear-gradient(to right, rgba(95,195,225,1) 0%, rgba(42,93,155,1) 51%, rgba(95,195,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fc3e1', endColorstr='#5fc3e1', GradientType=1 );
 }

.heading-3:before,
.heading-3:after { position: absolute; top: 0; width: 0; height: 0; border-style: solid; content: '' }
.heading-3:before { left: -63px; border-width: 0 63px 63px 0; }
.heading-3:after { right: -63px; border-width: 63px 63px 0 0; }
.heading-3.red:before { border-color: transparent #d51e4a  transparent transparent }
.heading-3.red:after { border-color: #d51e4a transparent  transparent transparent }
.heading-3.blue:before { border-color: transparent #5fc2e1  transparent transparent }
.heading-3.blue:after { border-color: #5fc2e1 transparent  transparent transparent }

.content p { line-height: 1.8 }
.title-description { font-family: 'Avenir Bold Italic', serif; margin: 0 auto 3em; max-width: 900px; text-align: center }

/* Navigation */
header { -webkit-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.20);
-moz-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.20);
box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.20); background-color: #fff; width: 100%; position: absolute; top: 0; z-index: 99 }
.navbar-toggle { margin-top: 17px }
.navbar-toggle .icon-bar { background-color: #0d5681; height: 4px }
.navbar-toggle .icon-bar:first-child { margin-top: 5px; -webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg) }
.navbar-toggle .icon-bar:last-child { margin-top: -4px; -webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg) }
.navbar-toggle .icon-bar:nth-child(2) { display: none }
.navbar-toggle.collapsed .icon-bar { transform: none }
.navbar-toggle.collapsed .icon-bar:nth-child(2) { display: block }
.navbar-toggle.collapsed .icon-bar:first-child { margin-top: 0 }
.navbar-toggle.collapsed .icon-bar:last-child { margin-top: 4px }
.navbar-brand { height: auto; padding: 10px; display: block  }
.navbar-brand img { width: 100%; height: auto }
.navbar { margin-bottom: 0; border: none  }
.nav li { display: inline-block; vertical-align: middle; padding: 5px 0; float: none }
#global-navigation ul li a { font-weight: 700; padding: 25px 20px; letter-spacing: 1.5px; line-height: 1; border-bottom: 3px solid transparent }
#global-navigation ul li a:active, #global-navigation ul li a:focus { background-color: transparent }
#menu-sub-page-menu .product a,
#global-navigation ul li a:hover,
#global-navigation ul li a.active { background-color: #d64862; color: #fff; border-color: #7d2d3b }
#global-navigation ul li.last a { background-color: #fff; color: #d64862; font-size: 110% }
#global-navigation ul li.last:hover a { animation: phone-icon 3000ms infinite }
header.fixed { position: fixed;  }
header.fixed #global-navigation ul li a { padding: 20px 20px;  }
header.fixed .navbar-brand { padding: 5px }
header.fixed .navbar-brand img { width: 88% }
header.fixed .nav li { padding: 0 }
header.fixed .navbar-toggle { margin-top: 10px }

.hero-area { padding: 0 }
#slider { position: relative }
#slider .slider-item { height: 550px; background-repeat: no-repeat; background-size: cover; background-position: center; position: relative }
#slider .slider-content { padding-top: 12em; width: 50%; }
#slider .slider-content h2,
#slider .slider-content p { color: #fff }
#slider .slider-content h2 { font-size: 50px }
#slider .slider-content p { font-size: 20px; }
#slider .owl-next { right: 15px; z-index: 2 }
#slider .owl-prev { left: 15px; z-index: 2 }
#slider .owl-dots { position: absolute; bottom: 10px; width: 100%; z-index: 1; text-align: center }
#slider .owl-dots .owl-dot { margin: 0 8px; width: 18px; height: 18px; border-radius: 100%; background-color:rgba(255,255,255,.4); outline: none; }
#slider .owl-dots .owl-dot.active { background-color:rgba(255,255,255,1) }

.category-list .cat-item { padding: 15px }
.category-list .cat-item > div { height: 300px }
.cat-bg { position: relative; background-size: cover; background-position: center; background-blend-mode: multiply }
.cat-bg.red { background-color: rgba(236,81,87) }
.cat-heading.cat-bg.red { background-color: #ed1c24 }
.cat-bg.blue { background-color: rgba(0,174,239) }
.cat-bg a,
.cat-bg:before { position: absolute; top: 0; left: 0; right: 0; bottom: 0; content: '' }
.cat-bg:before { background-color: rgba(255,255,255,.01) }
.cat-bg .cat-title { position: absolute; z-index: 2; top: 50%; -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%); margin: 0; width: 100%; text-align: center; color: #fff; letter-spacing: 2px; text-shadow: 1px 0px 2px rgba(150, 150, 150, 1) }
.category-list .cat-bg:hover { background-color: transparent }

.service-item { text-align: center }
.service-item h4 { text-transform: uppercase }
.service-item img { max-width: 170px; margin: 0 auto 25px }
.service-area .content { margin: 0 0 4em }
.service-icons { margin-bottom: 2em }

.story-video { max-width: 700px; margin: 20px auto 3em }
.contact-area .col-sm-5 { background-color: #d51e4a }
.contact-info { padding: 3em 0 }
.contact-info .contact-section { margin-bottom: 20px }
.contact-info .contact-section * { color: #fff!important }
.contact-info .contact-section h5 { margin-bottom: 5px }
.contact-info .contact-section p { font-size: 14px }
.contact-info .contact-section .contact-icon { padding: 10px 0; text-align: center }
.contact-info .contact-section .contact-icon img { width: 45px }
.contact-info .contact-section .contact-details { padding-right: 30px; }
.social-media ul { margin-top: 3em; padding: 0; text-align: center }
.social-media ul li { display: inline-block; margin: 0 2em }
.social-media ul li a i { color: #fff; font-size: 30px }
.social-media ul li:hover a i { -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
        transform: rotate(30deg) }
.contact-area .col-sm-7 { border-top: 8px solid #0d5681 }
.contact-form-section { padding: 2em 3em }
.contact-form-section h2 { font-family: 'Avenir Bold Italic', serif; color: #0d5681; margin-bottom: 15px }
.contact-form-section p { margin-bottom: 30px }
.contact-form-section label { position: relative; display: block; margin-bottom: 15px }
.contact-form-section label i { position: absolute; top: 8px; right: 10px }
.contact-form-section input[type="text"], .contact-form-section input[type="email"] { padding-right: 27px }
.contact-form-section input, .contact-form-section textarea { font-weight: 400; border-color: #f21924 }
.contact-form-section input[type="submit"] { font-weight: 700; padding: 10px 20px; background-color: #f21924 }
.contact-form-section input[type="submit"]:hover,.contact-form-section input[type="submit"]:focus { background-color: #b9141d; border-color: #b9141d }
.contact-form-section form > p { margin-bottom: 0 }
footer { padding: 2em 0; background-color: #959595 }
footer * { color: #fff; margin-bottom: 0 }
footer h4 { margin: 0 0 5px }
footer ul { padding-left: 0 }
footer ul li { list-style-type: none; font-family: 'Avenir Bold', serif }
footer ul li i { margin-right: 5px }
footer ul li a { margin-left: 5px; color: #fff }
footer .footer-logo { padding: 5px }
footer .footer-logo img { max-width: 100%; height: auto }
footer .footer-contact { padding: 0; text-align: center }


.category-listing { padding: 0 }
.category-listing .cat-heading { background-size: cover; padding: 3em; text-align: center; background-position: center }
.category-listing .cat-heading h1 { margin: 0; position: relative; z-index: 1; color: #fff  }
.category-listing .category-list { padding: 15px; }
.category-listing .category-list .cat-item > div { height: 400px; margin-bottom: 0 }

.category-listing .category-list .cat-item.col-md-3 > div { height: 250px; }

.category-area { padding: 4em 0 }
.home .category-area { padding-bottom: 0 }


.m-15 .product-area { padding-top: 4em; padding-bottom: 0 }
.m-15:last-child .product-area { padding-bottom: 4em }
.product-area .product-item { margin-bottom: 25px; padding: 30px 20px 5px;
  background: rgba(240,240,240,1);
  background: -moz-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 51%, rgba(240,240,240,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1)), color-stop(0%, rgba(240,240,240,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,240,1)));
  background: -webkit-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 51%, rgba(240,240,240,1) 100%);
  background: -o-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 51%, rgba(240,240,240,1) 100%);
  background: -ms-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 51%, rgba(240,240,240,1) 100%);
  background: linear-gradient(to right, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 51%, rgba(240,240,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=1 );
}
.product-area .product-item:hover {
  background: rgba(232,232,232,1);
  background: -moz-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 51%, rgba(232,232,232,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,232,232,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(232,232,232,1)));
  background: -webkit-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 51%, rgba(232,232,232,1) 100%);
  background: -o-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 51%, rgba(232,232,232,1) 100%);
  background: -ms-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 51%, rgba(232,232,232,1) 100%);
  background: linear-gradient(to right, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 51%, rgba(232,232,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8', GradientType=1 );
}
.product-area .product-item .row { margin: 0 }
.product-area .product-item h3 { margin: 0 0 30px; font-size: 19px; text-align: center }
.product-area .product-item h4 { margin-top: 0 }
.product-area .product-item h5 { margin: 12px 0 0 }
.product-area .product-item .product-info p { font-size: 14px }
.product-area .product-item .product-info strong { font-family: 'Avenir Bold'; font-size: 14px }

.product-modal-body { padding: 15px 35px }
.mail-alert { margin-top: 15px }

.no-found { padding: 1.5em 0 2.5em; text-align: center }

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing { border: none!important; color: #ff0000!important; font-weight: 700!important; margin-left: 0!important; padding: 0!important }

@media only screen and (max-width: 1200px) {

  header.fixed #global-navigation ul li a,
  #global-navigation ul li a { padding: 25px 10px }
  .navbar .container { width: 100% }
  .heading-3 { margin: 0 65px 35px; }

}

@media (max-width: 991px) {

  header { padding: 5px 0 }
  .navbar-collapse { border-top: 2px solid #f2f2f2; padding-top: 20px }
  .navbar-header { float: none }
  .navbar-left,.navbar-right { float: none !important }
  .navbar-toggle { display: block }
  .navbar-collapse.collapse { display: none!important }
  .navbar-nav { float: none!important;}
  .navbar-nav>li { float: none }

  .collapse.in{ display:block !important }
  .navbar-nav li { width: 100%; padding: 0 }
  header.fixed #global-navigation ul li a,
  #global-navigation ul li a { padding: 12px 30px }
  .navbar-nav { margin: 0 -15px }

}

@media only screen and (max-width: 768px) {

  .m-15 { margin: 0 }

  #slider .slider-content { padding: 5em 0; width: 100% }
  #slider .slider-item { height: 300px }
  #slider .slider-content p { font-size: 16px; line-height: 1.2 }
  .service-area .content { margin-bottom: 2em }
  .service-area .service-item { margin-bottom: 20px }
  .service-area .service-item img { margin-bottom: 10px }
  .contact-info .contact-section .contact-details { padding-right: 0; text-align: center }

  .product-area .product-item { padding: 35px 20px 25px }
  .product-area .product-item .product-image { text-align: center }
  .product-area .product-item .product-image img { display: inline }

  .category-listing .category-list { padding: 0 }
  .category-listing .category-list .cat-item > div { padding: 8em 15px; height: auto }

  .heading-3 { margin-left: 0; margin-right: 0 }
  .heading-3:before, .heading-3:after { display: none }

  footer { padding: 2em 0 }
  .footer-item { margin-bottom: 25px }
  .footer-contact { text-align: center }
  .footer-logo img { width: 180px }
}

@media only screen and (max-width: 480px) {

    #slider .slider-item h1 { font-size: 30px }
    .heading-2:before, .heading-2:after { top: unset; bottom: -10px; height: 5px }
    .title-description { margin: 0 auto 1em }
    .category-list .cat-item > div { height: 200px }
    .contact-form-section { padding-left: 0; padding-right: 0 }

}

@keyframes phone-icon {
  0% { transform: translate3d(0em, 0, 0) }
  2% { transform: translate3d(0.025em, 0, 0) }
  4% { transform: translate3d(-0.025em, 0, 0) }
  6% { transform: translate3d(0.025em, 0, 0) }
  8% { transform: translate3d(-0.025em, 0, 0) }
  10% { transform: translate3d(0.025em, 0, 0) }
  12% { transform: translate3d(-0.025em, 0, 0) }
  14% { transform: translate3d(0.025em, 0, 0) }
  16% { transform: translate3d(-0.025em, 0, 0) }
  18% { transform: translate3d(0.025em, 0, 0) }
  20% { transform: translate3d(-0.025em, 0, 0) }
  22% { transform: translate3d(0.025em, 0, 0) }
  24% { transform: translate3d(-0.025em, 0, 0) }
  26% { transform: translate3d(0.025em, 0, 0) }
  28% { transform: translate3d(-0.025em, 0, 0) }
  30% { transform: translate3d(0.025em, 0, 0) }
  32% { transform: translate3d(-0.025em, 0, 0) }
  34% { transform: translate3d(0.025em, 0, 0) }
  36% { transform: translate3d(-0.025em, 0, 0) }
  38% { transform: translate3d(0.025em, 0, 0) }
  40% { transform: translate3d(-0.025em, 0, 0) }
  42% { transform: translate3d(0.025em, 0, 0) }
  44% { transform: translate3d(-0.025em, 0, 0) }
  46% { transform: translate3d(0em, 0, 0) }
}
